*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
    
body
{
    background: #f8f8f8;
}
        
h1
{
    font-size: 40px;
    text-align: center;
    margin-top:5%;
    color: dimgrey;
    -webkit-transform:rotate(-10deg);
}
        
#btnAbrir
{
    border-radius: 50%;
    width: 50%;
    float: left;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 5%;
    background: #25b7d3;
    border: none;
    outline: none;
    box-shadow: 0px 20px 0px 1px #1e75ff; 
    transition: .2s all;
    margin-bottom: 10px;
}
        
    #btnAbrir:active
    {
        margin-top: 8%;
        box-shadow: 0px 10px 0px 1px #1e75ff;
        transition: .2s all;
        outline: none;
    }
        
    #btnAbrir > img
    {
        max-width: 100%;
    }

#btnCerrar
{
    border-radius: 50%;
    width: 50%;
    float: left;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 5%;
    background: #e04f5f;
    border: none;
    outline: none;
    box-shadow: 0px 20px 0px 1px #b04f5f; 
    transition: .2s all;
    margin-bottom: 10px;
}
        
    #btnCerrar:active
    {
        margin-top: 8%;
        box-shadow: 0px 10px 0px 1px #b04f5f;
        transition: .2s all;
        outline: none;
    }
        
    #btnCerrar > img
    {
        max-width: 100%;
    }

#abrir
{
    position: absolute;
    float: left;
    margin-top: 30px;
}

#cerrar
{
    margin-top: 320px;
    position: absolute;
    float: left;
}

#hamburger
{
    z-index: 1;
    position: absolute;
    float: left;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    background:#48474b;
    padding-left: 5px;
    color: white;
    font-size: 20px;
}

#acercaDe
{
    z-index: 2;
    position: absolute;
    float: left;
    margin-top: 50%;
    margin-left: -500px;
    width: 80%;
    height: 50%;
    background: black;
    border-radius: 5px;
}
    
    #acercaDe > div
    {   
        padding-left: 15%;
        padding-top: 10%;
        width: 70%;
    }

    #acercaDe > div > img
    {   
        max-width: 100%;
        border-radius: 100%;
    }

    #acercaDe > h5
    {
        font-size: 20px;
        margin-top: 10%;
        color: aliceblue;
        text-align: center;
    }


li
{
    padding-left: 5px;
}

#divisor
{
    width: 240px;
    height: 5px;
    background: dimgray;
}

#menu
{
    position: absolute;
    margin-top: 5px;
    margin-left: 8px;
    width: 30px;
    height: 30px;
    float: left;
}
    #menu > button
    {
        background: transparent;
        border: none;
        outline: none;
    }

    #menu > button > img
    {
        max-width: 100%;
    }